html{
  height:100%;
}

body {
  height:100%;
}

.navbar {
  background-color: #FFFDF6 !important;
}

.bottom-div{
  height:15vh;
}

.white-container{
  background-color: #FFFDF6;
}

.col-lg > img {
  max-width: 225px;
}

.row{
  align-items: center;
}

.col-lg{
  margin-top: 7%;
}

.toggler{
  color: #1C1C1B !important;
  border: 0px !important;
}

.grid-container{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.page-wrapper-dark{
  height:60%;
  width:100%;
  background-color: #1C1C1B;
}

.section-heading-dark{
  color:#1C1C1B;
  padding-top: 6% !important;
}

.heading-white {
  color: #FFFDF6 !important;
  padding-top:30%;
}

.my-text-white{
  color: #FFFDF6 !important;
}

.reem-kufi-font{
  font-family: 'Reem Kufi', sans-serif;
}

.merriweather-font{
  font-family: 'Merriweather', serif;
}

.dark-text{
  color: #1C1C1B;
}
.mybackground {
  background-color: #1C1C1B !important;
}

.center-full-page {
  max-width:50em;
  height:100%;
  text-align: center !important;
  margin-left:auto;
  margin-right: auto;
  border-radius: 0px;
}

@media screen and (max-width: )
